


button{
  color: white;
  font-weight: 600;
  float: right;
  border-radius: 5px;
  border: none;
  background-color:rgb(175, 139, 94);
  padding: 12px 10px;
  margin-top: -50px;
}
button:hover{
  transition: 200ms;
 scale:1.03;
 background-color:rgb(209, 180, 145);
}

.column-1{
  height: 100%;
  float: left;
  width: 90%;
}
.column-2{
  height: 100%;
  float: left;
  width: 10%;
}
.row{
  height: 50px;
  padding: 20px 50px 0px 30px ;
}

.box{
  background-color: rgb(172, 103, 98) !important;
  color:rgb(87, 57, 69);
  /* height: 18vh; */
}

.box-2{
  margin-left: 100px;
}

.avatar{
  border-radius: 50%;
}


.column-3{
  float: left !important;
  width: 33% !important;
}
h2{
  margin-top: 0px;
  padding-top: 0px;
}


.profile {
  border: 1.5px initial rgb(119, 74, 93);
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  max-width: 300px;
  margin: 20px 50px;
  text-align: center;
  font-family: arial;
  padding: 20px;
  background-color: rgb(172, 103, 98);
}

.profile:hover{
  transition:400ms;
  box-shadow: 0 8px 16px 0 rgba(90, 12, 58, 0.582);
  transform: translateY(-10px);
}
.email {
  color: rgb(61, 20, 95);
  font-size: 18px;
  overflow-wrap: anywhere;
}
.name{
  font-size:28px;
  font-weight: bold;
  color: rgb(104, 16, 53);
}
.loader{
  margin-left: 300px;
  margin-right: 100px;
}

@media screen and (max-width: 600px) {
  .profile{
    width: 100%;
    display: block;
    margin-bottom: 20px;
    padding: 20px;
    color:brown;
  }

  .name{
    font-size:medium;
    font-style: italic;
  }
  .column-3{
    float: left;
    margin-left: 60px;
  }

  .email{
    font-size: small;
    font-style: oblique;
  }

  .loader{
    align-self: center;
    width:100%;
  }

  .box{
    width:110vh;
    color:rgb(175, 12, 45);
  }
  
}
